default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.2.2 # Use the latest stable version
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format
